<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VoiceOfCustomer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationSuccess</display-name>
    <servlet-name>RegistrationSuccess</servlet-name>
    <servlet-class>com.bapu.servlet.RegistrationSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationSuccess</servlet-name>
    <url-pattern>/RegistrationSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyProductID</display-name>
    <servlet-name>VerifyProductID</servlet-name>
    <servlet-class>com.bapu.servlet.VerifyProductID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyProductID</servlet-name>
    <url-pattern>/VerifyProductID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeIdentity</display-name>
    <servlet-name>EmployeeIdentity</servlet-name>
    <servlet-class>com.bapu.servlet.EmployeeIdentity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeIdentity</servlet-name>
    <url-pattern>/EmployeeIdentity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyEmployee</display-name>
    <servlet-name>VerifyEmployee</servlet-name>
    <servlet-class>com.bapu.servlet.VerifyEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyEmployee</servlet-name>
    <url-pattern>/VerifyEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailToCustomer</display-name>
    <servlet-name>MailToCustomer</servlet-name>
    <servlet-class>com.bapu.servlet.MailToCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailToCustomer</servlet-name>
    <url-pattern>/MailToCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessFeedbackForm</display-name>
    <servlet-name>BusinessFeedbackForm</servlet-name>
    <servlet-class>com.bapu.servlet.BusinessFeedbackForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessFeedbackForm</servlet-name>
    <url-pattern>/BusinessFeedbackForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceivedFeedback</display-name>
    <servlet-name>ReceivedFeedback</servlet-name>
    <servlet-class>com.bapu.servlet.ReceivedFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceivedFeedback</servlet-name>
    <url-pattern>/ReceivedFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceivedFeedbackForm</display-name>
    <servlet-name>ReceivedFeedbackForm</servlet-name>
    <servlet-class>com.bapu.servlet.ReceivedFeedbackForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceivedFeedbackForm</servlet-name>
    <url-pattern>/ReceivedFeedbackForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessPdfCreator</display-name>
    <servlet-name>BusinessPdfCreator</servlet-name>
    <servlet-class>com.bapu.servlet.BusinessPdfCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessPdfCreator</servlet-name>
    <url-pattern>/BusinessPdfCreator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuestion</display-name>
    <servlet-name>UpdateQuestion</servlet-name>
    <servlet-class>com.bapu.servlet.UpdateQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestion</servlet-name>
    <url-pattern>/UpdateQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GamingFeedbackForm</display-name>
    <servlet-name>GamingFeedbackForm</servlet-name>
    <servlet-class>com.bapu.servlet.GamingFeedbackForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GamingFeedbackForm</servlet-name>
    <url-pattern>/GamingFeedbackForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GamingPdfCreator</display-name>
    <servlet-name>GamingPdfCreator</servlet-name>
    <servlet-class>com.bapu.servlet.GamingPdfCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GamingPdfCreator</servlet-name>
    <url-pattern>/GamingPdfCreator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StandardFeedbackForm</display-name>
    <servlet-name>StandardFeedbackForm</servlet-name>
    <servlet-class>com.bapu.servlet.StandardFeedbackForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandardFeedbackForm</servlet-name>
    <url-pattern>/StandardFeedbackForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StandardPdfCreator</display-name>
    <servlet-name>StandardPdfCreator</servlet-name>
    <servlet-class>com.bapu.servlet.StandardPdfCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandardPdfCreator</servlet-name>
    <url-pattern>/StandardPdfCreator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyForm</display-name>
    <servlet-name>SurveyForm</servlet-name>
    <servlet-class>com.bapu.servlet.SurveyForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyForm</servlet-name>
    <url-pattern>/SurveyForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyPdfCreator</display-name>
    <servlet-name>SurveyPdfCreator</servlet-name>
    <servlet-class>com.bapu.servlet.SurveyPdfCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyPdfCreator</servlet-name>
    <url-pattern>/SurveyPdfCreator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServicePdfCreator</display-name>
    <servlet-name>ServicePdfCreator</servlet-name>
    <servlet-class>com.bapu.servlet.ServicePdfCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicePdfCreator</servlet-name>
    <url-pattern>/ServicePdfCreator</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>we</display-name>
    <servlet-name>we</servlet-name>
    <servlet-class>com.bapu.servlet.we</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>we</servlet-name>
    <url-pattern>/we</url-pattern>
  </servlet-mapping>
</web-app>